# ===== Build Directories =====
build/
.cache/

# ===== Binaries =====
*.elf
*.bin
*.hex
*.map

# ===== Python cache and madim animation =====
__pycache__/
*.pyc
media/

# ===== Temporary files =====
.vscode/

# ===== Logs =====
tests/logs/

# ===== Content =====
manim/
media/